@font-face {
  font-family: "siddur";
  font-weight: 100 900;
  font-style: normal;
  src: url("/fonts/SiddurOCGX.otf") format("otf"), url("/fonts/SiddurOCGX.woff2") format("woff2");
}
@font-face {
  font-family: "SBLhebrew";
  src: url("/fonts/SBL_Hbrw.otf") format("otf"), url("/fonts/SBL_Hbrw.woff2") format("woff2");
}
@font-face {
  font-family: "Heebo var"; // variable font! [https://github.com/TypeNetwork/heebo]
  font-weight: 100 900;
  font-style: normal;
  font-named-instance: "Regular";
  font-display: swap;
  src: url("/fonts/Heebo-beta-VF.otf");
}

.font-siddur {
  margin-top: -0.4em; // fixes variable-font leading bug
  font-weight: 700;
}
