.logo {
  svg {
    transition: all 0.2s ease;
    animation: rotate-3d 4s ease-in-out 1s 5;
    .lamp {
      fill: currentColor;
      @apply text-brand;
    }
    .c {
      fill: currentColor;
      @apply text-gray-300;
    }
    &:hover {
      transform: rotate3d(0, 1, 0, 0deg);
      // animation-duration: 8s;
      .lamp {
        animation: blink 1s ease 0s infinite;
      }
    }
  }
  &.dark {
    svg .c {
      @apply text-gray-900;
    }
  }

  @keyframes rotate-3d {
    0% {
      transform: rotate3d(0, 1, 0, 0deg);
    }
    50% {
      transform: rotate3d(0, 1, 0, 180deg);
    }
    100% {
      transform: rotate3d(0, 1, 0, 0deg);
    }
  }
  @keyframes blink {
    0% {
      opacity: 1;
    }
    15% {
      opacity: 0.3;
    }
    35% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
    85% {
      opacity: 1;
    }
    95% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
}

// loader
.loader-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .loader {
    animation: rotate 0.75s linear infinite;
    svg {
      circle {
        @apply text-teal-700;
        stroke: currentColor;
      }
    }
  }
  &.light {
    .loader svg circle {
      @apply text-teal-300;
      stroke: currentColor;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

// scrollbar
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  @apply bg-teal-50 rounded-full;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  width: 10px;
  @apply bg-teal-600 rounded-full;

  &:hover {
    @apply bg-teal-700;
  }
}

.custom-scrollbar::-webkit-scrollbar-resizer {
  display: none;
}
.custom-scrollbar::-webkit-scrollbar-button {
  height: 0px;
}

::selection {
  @apply bg-teal-200; /* WebKit/Blink Browsers */
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}
