.transition {
  transition: all 0.3s ease;
}

// Page transition
.slideUp-enter-active {
  transition: all 0.3s ease-in;
}
.slideUp-leave-active {
  transition: none;
}
.slideUp-enter,
.slideUp-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

// Post-list transition
.postList-enter-active,
.postList-leave-active {
  transition: all 0.3s ease-in;
}

.postList-enter,
.postList-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

// Slide transition
.slide-back-enter-active,
.slide-back-leave-active,
.slide-in-enter-active,
.slide-in-leave-active {
  transition: all 0.3s ease-in;
}

.slide-back-enter,
.slide-in-leave-to {
  transform: translate(100%, 0);
  position: absolute;
}
.slide-back-leave-to,
.slide-in-enter {
  transform: translate(-100%, 0);
  position: absolute;
}

// Fade transition
.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease-in;
  opacity: 0.95;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// Modal transition
.modal-fade-enter-active,
.modal-fade-leave-active {
  opacity: 1;
  transition: all 0.3s ease-in;
  .modal {
    transform: none;
    transition: all 0.3s ease;
  }
}
.modal-fade-enter,
.modal-fade-leave-to {
  opacity: 0;
  .modal {
    transform: scale(0.8);
  }
}
